<h1>New Task</h1>
<form class="form" [formGroup]="newTaskForm" (ngSubmit)="onSubmit(newTaskForm.value)">
    <div class="form-group form-group-sm">
        <label for="name" i18n="@@task">task</label>
        <input
            id="name"
            type="text" 
            class="form-control"
            name="name" 
            i18n-placeholder="@@describeTask"
            placeholder="describe your task" 
            formControlName="name"
        >
    </div>
    <div class="row">
        <div class="form-group form-group-sm col-sm-3">
            <label class="radio-inline" for="happy-radio">
                <input type="radio" id="happy-radio" name="happy" value="true" checked="true" formControlName="happy">
                <span class="icon-happy" style="font-size: 32px;"></span>
            </label>
            <label class="radio-inline" for="sad-radio">
                <input type="radio" id="sad-radio" name="happy" value="false" formControlName="happy">
                <span class="icon-sad" style="font-size: 32px;"></span>
            </label>
            <p class="help-block" i18n="@@isHappyOrSad">Is this a task that makes you happy or sad?</p>
        </div>
        <div class="form-group form-group-sm col-sm-2 col-xs-5">
            <label for="time" i18n="@@time">time</label>
            <input 
                id="time" 
                type="number" 
                min="0"
                class="form-control"
                name="time" 
                i18n-placeholder="@@days"
                placeholder="days"
                formControlName="time" 
            >
            <p class="help-block" i18n="@@howManyDays">How many days do you need to do it?</p>
        </div>
        <div class="form-group form-group-sm col-sm-3 col-xs-7">
            <label for="deadline" i18n="@@deadline">deadline</label>
            <input  #dl
                id="deadline" 
                type="date" 
                class="form-control"
                name="deadline" 
                placeholder="yyyy-mm-dd" 
                formControlName="deadline" 
            >
            <p class="help-block" i18n="@@whenDeadline">Until when this task needs to be done?</p>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!newTaskForm.valid" i18n="@@newTaskButton">
        save the new task
    </button>
</form>
