tr {
    /*display: block;
    list-style-position: outside;
    width: -moz-fit-content;*/
}

tr {
    border-bottom: 1px solid darkgray;
}
 
tr:last-child {
    border: none;
}

td {
    line-height: normal;
    margin: 0 5px 0 5px;
    padding: 5px;
}

.task-face {
    padding: 0 5px 0 5px;
}

.task-happy {
    background-color: yellow;
}

.task-sad {
    background-color: lightgrey;
}
