<div class="content">
    <div row="row">
        <div class="col-xs-6">
        <h1>TODO:</h1>
        <table id="todo" class="table table-condensed table-hover">
            <thead class="table table-header">
                <tr>
                    <th></th>
                    <th class="text-center text-nowrap">start</th>
                    <th class="text-center text-nowrap">deadline</th>
                    <th colspan="2"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let task of tasks" class="task-item">
                    <td>
                    {{ task.taskFromModel.name }}
                    </td>
                    <td class="text-center text-nowrap">
                        {{ task.taskStartDate }}
                    </td>
                    <td class="text-center text-nowrap">
                        {{ task.taskFromModel.deadline }}
                    </td>
                    <td>
                        <span
                            [ngClass]="{'icon-happy' : task.taskFromModel.happy, 'icon-sad' : !task.taskFromModel.happy}">
                        </span>
                    </td>
                    <td class="text-nowrap pull-right">  
                        <button id="done-task-{{task.taskId}}"
                                class="btn btn-default btn-xs"
                                aria-label="mark task as done"
                                (click)="onDoneClick(task.taskId)">
                            <span class="glyphicon glyphicon-ok" 
                                  aria-hidden="true"></span>
                        </button>
                        <button id="delete-task-{{task.taskId}}" 
                                class="btn btn-default btn-xs"
                                aria-label="delete task"
                                (click)="onDeleteClick(task.taskId)">
                            <span class="glyphicon glyphicon-remove" 
                                  aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <app-new-task (onNewTask)="fetchTasks()"></app-new-task>
        </div>
    </div>
</div>
