tr {
    border-bottom: 1px solid lightgray;
    vertical-align: middle !important;
}
 
tr:last-child {
    border: none;
}

td {
    line-height: 1 !important;
    vertical-align: middle !important;
}

.icon-happy:before {
    background-color: yellow;
    content: "\1f642";
    font-size: 25px;
    border-radius: 0.6em;
    padding-left: 1px;
    padding-right: 1px;
}

.icon-sad:before {
    background-color: lightgrey;
    content: "\1f641";
    font-size: 25px;
    border-radius: 0.6em;
    padding-left: 1px;
    padding-right: 1px;
}
